<div>
  <h1> Product Page </h1>
  <a class="add" href="/product/add">(+ Add)</a>
</div>
<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    @for (item of productLists; track item.productID; let index = $index) {
      <tr>
        <td>{{ item.productID }}</td>
        <td>{{ item.productName }}</td>
        <td>
          <a class="edit" [href]="item.editLink">Edit</a>
          <a class="del" (click)="onDelete(index)">Del</a>
        </td>
      </tr>
    }
  </tbody>
</table>