.login-form {
  margin: 0 auto;
  padding: 30px 20px;
  width: 400px;
  h1 { 
    text-align: center;
  }
  input {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  button {
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}